<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="3scale client examples">
    <title>3scale client examples</title>
</head>

<body>
    <form action="/" method="post"><input type="submit" value="Reset your session"></form>
    <h1>3scale OIDC flow example</h1>
    <li>
        <ul><a href="/api_provider/">for API Provider</a></ul>
    </li>
</body>
</html>